# Date: 2025-12-24
# Author: Benjamin Rohner
# Purpose: LED Configuration for Faber-Axiom (LDO Voron 2.4R2 350)
# Hint: https://github.com/julianschill/klipper-led_effect/blob/master/docs/LED_Effect.md

## Chamber Lighting (Optional)
## Connected to LED-STRIP
[output_pin caselight]
pin: PE6
pwm:true
hardware_pwm: False
value: 0.20 #startup value
shutdown_value: 0
value:1
cycle_time: 0.00001

##Stealthburner Headlights
[neopixel sb_leds]
pin: nhk:gpio7
chain_count: 3
color_order: GRBW
initial_RED: 0.0
initial_GREEN: 0.0
initial_BLUE: 0.0
initial_WHITE: 0.0

### LED Macros ###
[gcode_macro _LED_READY]
gcode:
  STOP_LED_EFFECTS ;cancel all others
  SET_LED_EFFECT EFFECT=_LOGO_READY
  SET_PIN PIN=caselight VALUE=1

[gcode_macro _LED_HOMING]
gcode:
  STOP_LED_EFFECTS ;cancel all others
  SET_LED_EFFECT EFFECT=_LOGO_HOMING
  SET_LED_EFFECT EFFECT=_PART_HOMING_1
  SET_LED_EFFECT EFFECT=_PART_HOMING_2
  SET_PIN PIN=caselight VALUE=1

[gcode_macro _LED_PRINTING]
gcode:
  STOP_LED_EFFECTS ;cancel all others
  SET_LED_EFFECT EFFECT=_LOGO_READY
  SET_LED_EFFECT EFFECT=_PART_LIGHT
  SET_PIN PIN=caselight VALUE=1

[gcode_macro _LED_HEATING]
gcode:
  STOP_LED_EFFECTS ;cancel all others
  SET_LED_EFFECT EFFECT=_LOGO_HEATING
  SET_LED_EFFECT EFFECT=_PART_HEATING
  SET_PIN PIN=caselight VALUE=1

[gcode_macro _LED_HEATING_HE]
gcode:
  STOP_LED_EFFECTS ;cancel all others
  SET_LED_EFFECT EFFECT=_LOGO_HEATING
  SET_PIN PIN=caselight VALUE=1

[gcode_macro _LED_HEATING_BED]
gcode:
  STOP_LED_EFFECTS ;cancel all others
  SET_LED_EFFECT EFFECT=_PART_HEATING
  SET_PIN PIN=caselight VALUE=1

[gcode_macro _LED_DRYING]
gcode:
  STOP_LED_EFFECTS ;cancel all others
  SET_LED_EFFECT EFFECT=_LOGO_HOT
  SET_LED_EFFECT EFFECT=_PART_HOT
  SET_PIN PIN=caselight VALUE=1

[gcode_macro _LED_CASE_OFF]
gcode:
  STOP_LED_EFFECTS ;cancel all others
  SET_PIN PIN=caselight VALUE=0.0



### LED Effects ###
[led_effect _PART_LIGHT]
leds:
  neopixel:sb_leds (2-3)
autostart: false
frame_rate: 24
layers:
  static 0 0 add (1.0,1.0,1.0,1.0)

[led_effect _LOGO_READY]
leds:
  neopixel:sb_leds (1)
autostart: false
frame_rate: 24
layers:
  breathing 8 0 add (0.1,0.0,1.0,0.0)

[led_effect _LOGO_HOMING]
leds:
  neopixel:sb_leds (1)
autostart: false
frame_rate: 24
layers:
  strobe 1 1.5 add (1.0,0.0,0.0,0.0),(0.0,0.0,1.0,0.0)
  
[led_effect _PART_HOMING_1]
leds:
  neopixel:sb_leds (2)
autostart: false
frame_rate: 24
layers:
  blink 0.25 0.8 add (0.5,0.0,0.0,0.0),(0.0,0.0,0.5,0.0)

[led_effect _PART_HOMING_2]
leds:
  neopixel:sb_leds (3)
autostart: false
frame_rate: 24
layers:
  blink 0.25 0.8 add (0.0,0.0,0.5,0.0),(0.5,0.0,0.0,0.0)

[led_effect _PART_HEATING]
leds:
  neopixel:sb_leds (2-3)
autostart: false
frame_rate: 24
layers:
  breathing 4 0 add (1,0.0,0.0,0.0)

[led_effect _LOGO_HEATING]
leds:
  neopixel:sb_leds (1)
autostart: false
frame_rate: 24
layers:
  breathing 4 0 add (1,0.0,0.0,0.0)

[led_effect _LOGO_HOT]
leds:
  neopixel:sb_leds (1)
autostart: false
frame_rate: 24
layers:
  static 0 0 add (1,0.0,0.0,0.0)

[led_effect _PART_HOT]
leds:
  neopixel:sb_leds (2-3)
autostart: false
frame_rate: 24
layers:
  static 0 0 add (1,0.0,0.0,0.0)