# Date: 2025-12-24
# Author: Benjamin Rohner
# Purpose: LED Configuration for Faber-Axiom (LDO Voron 2.4R2 350)
# Hint: https://github.com/julianschill/klipper-led_effect/blob/master/docs/LED_Effect.md

##Stealthburner Headlights
[neopixel sb_leds]
pin: nhk:gpio7
chain_count: 3
color_order: GRBW
initial_RED: 0.0
initial_GREEN: 0.0
initial_BLUE: 0.0
initial_WHITE: 0.0

### LED Macros ###
[gcode_macro LED_READY]
gcode:
  STOP_LED_EFFECTS ;cancel all others
  SET_LED_EFFECT EFFECT=logo_ready

[gcode_macro LED_HOMING]
gcode:
  STOP_LED_EFFECTS ;cancel all others
  SET_LED_EFFECT EFFECT=logo_homing
  SET_LED_EFFECT EFFECT=part_homing_1
  SET_LED_EFFECT EFFECT=part_homing_2

[gcode_macro LED_PRINTING]
gcode:
  STOP_LED_EFFECTS ;cancel all others
  SET_LED_EFFECT EFFECT=logo_ready
  SET_LED_EFFECT EFFECT=part_light

[gcode_macro LED_DONE]
gcode:
  STOP_LED_EFFECTS ;cancel all others
  SET_LED_EFFECT EFFECT=logo_done
  SET_LED_EFFECT EFFECT=part_light

[gcode_macro LED_HEATING]
gcode:
  STOP_LED_EFFECTS ;cancel all others
  SET_LED_EFFECT EFFECT=logo_heating
  SET_LED_EFFECT EFFECT=part_heating

[gcode_macro _LED_HEATING_HE]
gcode:
  STOP_LED_EFFECTS ;cancel all others
  SET_LED_EFFECT EFFECT=logo_heating

[gcode_macro _LED_HEATING_BED]
gcode:
  STOP_LED_EFFECTS ;cancel all others
  SET_LED_EFFECT EFFECT=part_heating



[gcode_macro _LED_DRYING]
gcode:
  STOP_LED_EFFECTS ;cancel all others
  SET_LED_EFFECT EFFECT=logo_hot
  SET_LED_EFFECT EFFECT=part_hot

### LED Effects ###
[led_effect part_light]
leds:
  neopixel:sb_leds (2-3)
autostart: false
frame_rate: 24
layers:
  static 0 0 add (1.0,1.0,1.0,1.0)

[led_effect logo_ready]
leds:
  neopixel:sb_leds (1)
autostart: false
frame_rate: 24
layers:
  breathing 8 0 add (0.1,0.0,1.0,0.0)

[led_effect logo_homing]
leds:
  neopixel:sb_leds (1)
autostart: false
frame_rate: 24
layers:
  strobe 1 1.5 add (1.0,0.0,0.0,0.0),(0.0,0.0,1.0,0.0)
  
[led_effect part_homing_1]
leds:
  neopixel:sb_leds (2)
autostart: false
frame_rate: 24
layers:
  blink 0.25 0.8 add (0.5,0.0,0.0,0.0),(0.0,0.0,0.5,0.0)

[led_effect part_homing_2]
leds:
  neopixel:sb_leds (3)
autostart: false
frame_rate: 24
layers:
  blink 0.25 0.8 add (0.0,0.0,0.5,0.0),(0.5,0.0,0.0,0.0)

[led_effect part_heating]
leds:
  neopixel:sb_leds (2-3)
autostart: false
frame_rate: 24
layers:
  breathing 4 0 add (1,0.0,0.0,0.0)

[led_effect logo_heating]
leds:
  neopixel:sb_leds (1)
autostart: false
frame_rate: 24
layers:
  breathing 4 0 add (1,0.0,0.0,0.0)

[led_effect logo_hot]
leds:
  neopixel:sb_leds (1)
autostart: false
frame_rate: 24
layers:
  static 0 0 add (1,0.0,0.0,0.0)

[led_effect part_hot]
leds:
  neopixel:sb_leds (2-3)
autostart: false
frame_rate: 24
layers:
  static 0 0 add (1,0.0,0.0,0.0)

[led_effect logo_done]
leds:
  neopixel:sb_leds (1)
autostart: false
frame_rate: 24
layers:
  breathing 8 0 add (0.0,1.0,0.0,0.0)