# Date: 2025-12-24
# Author: Benjamin Rohner
# Purpose: Macros for Faber-Axiom (LDO Voron 2.4R2 350)

[gcode_macro PAUSE]
description: Pause the actual running print
rename_existing: PAUSE_BASE
variable_park_position: "PAUSE_CANCEL"
gcode:
  {% if 'POSITION' in params %}
    {% set park_position = params.POSITION|upper %}
    SET_GCODE_VARIABLE MACRO=PAUSE VARIABLE=park_position VALUE='"{params.POSITION|upper}"'
  {% else %}
    {% set park_position = printer['gcode_macro PAUSE'].park_position %}
  {% endif %}
  PAUSE_BASE
  {% if park_position == "PSTART" %}
    _TOOLHEAD_PARK_MAINTENANCE
  {% else %}
    _TOOLHEAD_PARK_PAUSE_CANCEL
  {% endif %}


[gcode_macro RESUME]
description: Resume the actual running print
rename_existing: RESUME_BASE
variable_target_extruder: 0
gcode:
  # Check if resuming from maintenance pause during PRINT_START
  {% if printer['gcode_macro PAUSE'].park_position == "PSTART" %}
    {% set x_wait = printer.toolhead.axis_maximum.x|float / 2 %}
    {% set y_wait = printer.toolhead.axis_maximum.y|float / 2 %}
    {% set target_extruder = printer['gcode_macro RESUME'].target_extruder|int %}

    # Re-Home Z
    G1 X231 Y340 Z10 F6000
    G28 Z

    # Heat up the hotend up to target via data from slicer
    G1 X{x_wait} Y{y_wait} Z15 F9000                        # Go to center of the bed
    SET_DISPLAY_TEXT MSG="Hotend: {target_extruder}c"       # Display info on display
    _LED_HEATING_HE                                         # Set LEDs to hotend heating pattern
    M107                                                    # Turn off partcooling fan
    M109 S{target_extruder}                                 # Heat the hotend to set temp

    # Get ready to print by doing a primeline and updating the LEDs
    SET_DISPLAY_TEXT MSG="Heat-Soak Complete"               # Display info on display
    LED_PRINTING                                            # Set LEDs to printing-mode
    G0 X{x_wait - 50} Y4 F10000                             # Go to starting point
    G0 Z0.4                                                 # Raise Z to 0.4
    G91                                                     # Incremental positioning
    G1 X100 E20 F1000                                       # Primeline
    G90                                                     # Absolute position

    # Reset park position to default
    SET_GCODE_VARIABLE MACRO=PAUSE VARIABLE=park_position VALUE='"PAUSE_CANCEL"'

    RESUME_BASE

  {% else %}
    # Normal print resume
    ##### read extrude from  _TOOLHEAD_PARK_PAUSE_CANCEL  macro #####
    {% set extrude = printer['gcode_macro _TOOLHEAD_PARK_PAUSE_CANCEL'].extrude %}
    #### get VELOCITY parameter if specified ####
    {% if 'VELOCITY' in params|upper %}
      {% set get_params = ('VELOCITY=' + params.VELOCITY)  %}
    {%else %}
      {% set get_params = "" %}
    {% endif %}
    ##### end of definitions #####

    {% if printer.extruder.can_extrude|lower == 'true' %}
      M83
      G1 E{extrude} F2100
      {% if printer.gcode_move.absolute_extrude |lower == 'true' %} M82 {% endif %}
    {% else %}
      {action_respond_info("Extruder not hot enough")}
    {% endif %}

    RESUME_BASE {get_params}
  {% endif %}


[gcode_macro CANCEL_PRINT]
description: Cancel the actual running print
rename_existing: CANCEL_PRINT_BASE
variable_park: True
gcode:
  ## Move head and retract only if not already in the pause state and park set to true

  {% if printer.pause_resume.is_paused|lower == 'false' and park|lower == 'true'%}
    _TOOLHEAD_PARK_PAUSE_CANCEL
  {% endif %}

  TURN_OFF_HEATERS
  CANCEL_PRINT_BASE


#####################################################################
#   A better print_start macro for v2/trident
#####################################################################

## *** THINGS TO UNCOMMENT: ***
## Bed mesh (2 lines at 2 locations)
## Nevermore (if you have one)
## Z_TILT_ADJUST (For Trident only)
## QUAD_GANTRY_LEVEL (For V2.4 only)
## Beacon Contact logic (if you have one. 4 lines at 4 locations)

[gcode_macro PRINT_START]
gcode:
  # This part fetches data from your slicer. Such as bed, extruder, and chamber temps and size of your printer.
  {% set target_bed = params.BED|int %}
  {% set target_extruder = params.EXTRUDER|int %}
  {% set target_chamber = params.CHAMBER|default("45")|int %}
  {% set target_chamber_minimal = params.CHAMBER_MINIMAL|default("0")|int %}
  {% set target_chamber_wait = [target_chamber, target_chamber_minimal]|select(">", 0)|min|default(0) %}
  {% set x_wait = printer.toolhead.axis_maximum.x|float / 2 %}
  {% set y_wait = printer.toolhead.axis_maximum.y|float / 2 %}

  ##  Uncomment for Beacon Contact (1 of 4 for beacon contact)
  #SET_GCODE_OFFSET Z=0                                 # Set offset to 0

  # Clear any lingering pause states
  CLEAR_PAUSE

  # Start the bed heater
  M140 S{target_bed}

  # Home the printer, set absolute positioning and update the Stealthburner LEDs.
  LED_HOMING                                            # Set LEDs to homing-mode
  G28                                                   # Full home (XYZ)
  G90                                                   # Absolute position

  # This used to be "A better print_start macro for v2/trident" but it was more bugs than better.
  SET_IDLE_TIMEOUT TIMEOUT=2700                       # This can take a while
  _LED_HEATING_BED                                    # Look good while doing it
  _TOOLHEAD_PARK_CENTER                               # Move toolhead to the center of bed
  
  # Heat hotend to 150c. This helps with getting a correct Z-home and gets a few more watts into the chamber.
  SET_DISPLAY_TEXT MSG="Warming hotend 150c"                     # Display info on display
  _LED_HEATING_HE                                         # Set LEDs to hotend heating pattern
  M109 S150                                               # Heat hotend to 150c
  
  # Start circulating chamber air and wait for temps to come up
  M106 S255                                           # Turn on the PT-fan
  SET_NEVERMORE POWER=0.2                             # The nevermore at full power causes thermal panic on a cooling bed
  SET_DISPLAY_TEXT MSG="Warming bed"                  # Display info on display
  M190 S{target_bed}                                  # Set the target temp for the bed and wait
  SET_NEVERMORE POWER=1                               # Ramp up the nevermore
  SET_DISPLAY_TEXT MSG="Warming chamber"              # Display info on display
  TEMPERATURE_WAIT SENSOR="temperature_sensor Chamber_Toolhead" MINIMUM={target_chamber_wait}   # Waits for chamber temp
  # G4 P1800000                                         # Wait 30 min for the frame to stabilize - not required above 50C
  SET_IDLE_TIMEOUT TIMEOUT=1800                       # Reset idle timeout

  # Quad gantry level AKA QGL
  SET_DISPLAY_TEXT MSG="Leveling"                         # Display info on display
  LED_HOMING                                              # Set LEDs to leveling-mode
  QUAD_GANTRY_LEVEL                                       # Level the printer via QGL

  # Store target_extruder for RESUME and pause for maintenance
  SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=target_extruder VALUE={target_extruder}
  PAUSE POSITION=PSTART



[gcode_macro START_PREHEAT]
description: Remote-Start-Safe preheat for printer.
gcode:
  # Get desired temps
  #{% set target_chamber = params.CHAMBER|default("45")|int %}
  {% set target_bed = params.BED|default("110")|int %}

  # Set some variables
  {% set bed_in_range = printer.heater_bed.temperature >= (target_bed - 10) %}

  SET_NEVERMORE POWER=0.3                             # Start nevermore (full power trips safety)
  M140 S{target_bed}                                  # Start bed heater

  # {% if printer.toolhead.homed_axes != "xyz" %}       # Home if needed
  #   G28
  # {% endif %}

  M190 S{target_bed}                                  # Wait for bed to reach target
  SET_NEVERMORE POWER=1                               # Ramp up the nevermore
  SET_IDLE_TIMEOUT TIMEOUT=10800                      # 3 hour timeout




[gcode_macro PRINT_END]
gcode:
  # Turn off heaters
  SET_HEATER_TEMPERATURE HEATER=extruder TARGET=0
  SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET=0

  # Turn off fans
  M107
  SET_NEVERMORE POWER=0

  # Reset idle timeout
  SET_IDLE_TIMEOUT TIMEOUT=1800

  # Ensure absolute positioning
  G90

  # Park Toolhead above part
  {% if printer.toolhead.position.z >= 100 %}
    # If Z is at or above 100, move directly to X175 Y0
    G1 X175 Y0 F6000
  {% else %}
    # If Z is below 100, lift Z by 100mm, then move to X175 Y175
    G91
    G1 Z100 F1200
    G90
    G1 X175 Y175 F6000
  {% endif %}

  # Lights
  LED_DONE


[gcode_macro SLEEP]
description: Put the printer into an energy-saving state
gcode:
  # Turn off heaters
  SET_HEATER_TEMPERATURE HEATER=extruder TARGET=0
  SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET=0
  LED_READY

[gcode_macro DRY_CYCLE]
description: Keep the printer warm for some time.
gcode:
  # Get and parse inputs
  {% set target_time = (params.HOURS|float) * 3600 %}
  {% set target_temp = params.TEMP|int %}

  # Indicate
  _LED_DRYING
  # Push the timeout away
  SET_IDLE_TIMEOUT TIMEOUT={target_time}
  # Turn off all heaters, set Bed temp
  TURN_OFF_HEATERS
  SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET={target_temp}

[gcode_macro MOVE_HEAD_MAINTENANCE]
description: Bring the printhead front-and-center
gcode:
  {% if printer.toolhead.position.z <= 175 %}
  LED_READY
  G1 X175 Y50 Z175 F10000
  {% else %}
  LED_READY
  G1 X175 Y50 F10000
  {% endif %}

[gcode_macro _TOOLHEAD_PARK_CENTER]
description: Bring the printhead to the build plate center
gcode:
  G1 X175 Y175 Z15 F10000

[gcode_macro _TOOLHEAD_PARK_MAINTENANCE]
description: Bring the printhead front-and-center for maintenance
gcode:
  {% if printer.toolhead.position.z <= 175 %}
  LED_READY
  G1 X175 Y50 Z175 F10000
  {% else %}
  LED_READY
  G1 X175 Y50 F10000
  {% endif %}

[gcode_macro _TOOLHEAD_PARK_PAUSE_CANCEL]
description: Helper: park toolhead used in PAUSE and CANCEL_PRINT
variable_extrude: 1.0
gcode:
  ##### set park position for x and y #####
  # default is your max position from your printer.cfg

  {% set x_park = printer.toolhead.axis_maximum.x|float - 5.0 %}
  {% set y_park = printer.toolhead.axis_maximum.y|float - 5.0 %}
  {% set z_park_delta = 2.0 %}
  ##### calculate save lift position #####
  {% set max_z = printer.toolhead.axis_maximum.z|float %}
  {% set act_z = printer.toolhead.position.z|float %}
  {% if act_z < (max_z - z_park_delta) %}
    {% set z_safe = z_park_delta %}
  {% else %}
    {% set z_safe = max_z - act_z %}
  {% endif %}
  ##### end of definitions #####
  {% if printer.extruder.can_extrude|lower == 'true' %}
    M83
    G1 E-{extrude} F2100
    {% if printer.gcode_move.absolute_extrude |lower == 'true' %} M82 {% endif %}
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}
  {% if "xyz" in printer.toolhead.homed_axes %}
    G91
    G1 Z{z_safe} F900
    G90
    G1 X{x_park} Y{y_park} F6000
    {% if printer.gcode_move.absolute_coordinates|lower == 'false' %} G91 {% endif %}
  {% else %}
    {action_respond_info("Printer not homed")}
  {% endif %}
