# Date: 2025-12-24
# Author: Benjamin Rohner
# Purpose: Nevermore config for Faber-Axiom (LDO Voron 2.4R2 350)
## Inspired by https://github.com/top-gun/Nevermore-Klipper/blob/main/nevermore.cfg

[delayed_gcode filter_off]
gcode:
    SET_FAN_SPEED FAN=nevermore SPEED=0

[gcode_macro TOGGLE_NEVERMORE]
gcode:
    {% if printer['fan_generic nevermore'].speed > 0 %}
      SET_FAN_SPEED FAN=nevermore SPEED=0
    {% else %}
      SET_FAN_SPEED FAN=nevermore SPEED=1
    {% endif %}

[gcode_macro SET_NEVERMORE]
description: Set Nevermore fan power (0.0–1.0)
variable_last_power: 1.0
gcode:
    {% set p = params.POWER|default(1.0)|float %}
    {% if p < 0 %}
        {% set p = 0 %}
    {% elif p > 1 %}
        {% set p = 1 %}
    {% endif %}

    SET_FAN_SPEED FAN=nevermore SPEED={p}
    # SET_GCODE_VARIABLE MACRO=SET_NEVERMORE_POWER VARIABLE=last_power VALUE={p}
