# Date: 2025-12-24
# Author: Benjamin Rohner
# Purpose: Config for Faber-Axiom (LDO Voron 2.4R2 350)

# This file was created by manually combining,
# - https://github.com/MotorDynamicsLab/Leviathan/blob/master/Klipper_config/voron2_leviathan.cfg
# - https://github.com/Klipper3d/klipper/blob/master/config/generic-ldo-leviathan-v1.2.cfg
# - https://github.com/MotorDynamicsLab/Nitehawk-36/blob/master/Configs/nitehawk-36.cfg


#####################################################################
#   General
#####################################################################
[include macros.cfg]
[include leds.cfg]
[include nevermore.cfg]

# Loads the module to prompt users
[respond]

[virtual_sdcard]
path: ~/printer_data/gcodes


#####################################################################
#   Printer Configuration
#####################################################################
[mcu]
##  Obtain definition by "ls -l /dev/serial/by-id/" then unplug to verify
##--------------------------------------------------------------------
serial: /dev/serial/by-id/usb-Klipper_stm32h743xx_41002A000251333236353439-if00
restart_method: command

[mcu nhk]
##  Obtain definition by "ls -l /dev/serial/by-id/" then unplug to verify
##--------------------------------------------------------------------
serial: /dev/serial/by-id/usb-Klipper_rp2040_3232323236198E2A-if00
restart_method: rpi_usb 
##--------------------------------------------------------------------

[printer]
kinematics: corexy
max_velocity: 300
max_accel: 4400
max_z_velocity: 30          #Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 350
square_corner_velocity: 10


#####################################################################
#   X/Y Stepper Settings
#####################################################################
## Note: According to the forums, the rule-of-thumb is 70% rated current, the data-sheet says 2A, so 1.4 should be fine.
## However, right now I am not limited by the speed of my steppers, so I'll let them chill.
## Violence will be added as required.

##  B Stepper - Left
##  Connected to HV STEPPER 0
##  Endstop connected to X-ENDSTOP
[stepper_x]
step_pin: PB10
dir_pin: !PB11
enable_pin: !PG0
rotation_distance: 40
microsteps: 32
full_steps_per_rotation:400  #set to 200 for 1.8 degree stepper
endstop_pin: PC1
position_min: 0
position_endstop: 350
position_max: 350
homing_speed: 25   #Max 100
homing_retract_dist: 5
homing_positive_dir: true

[tmc5160 stepper_x]
cs_pin: PE15
spi_bus: spi4
#diag0_pin: ^!PG1
interpolate: false
run_current: 0.8
sense_resistor: 0.075
stealthchop_threshold: 0

##  A Stepper - Right
##  Connected to HV STEPPER 1
##  Endstop connected to Y-ENDSTOP
[stepper_y]
step_pin: PF15
dir_pin: !PF14
enable_pin: !PE9
rotation_distance: 40
microsteps: 32
full_steps_per_rotation:400  #set to 200 for 1.8 degree stepper
endstop_pin: PC2
position_min: 0
position_endstop: 355
position_max: 355
homing_speed: 25  #Max 100
homing_retract_dist: 5
homing_positive_dir: true

[tmc5160 stepper_y]
cs_pin: PE11
spi_bus: spi4
#diag0_pin: ^!PE10
interpolate: false
run_current: 0.8
sense_resistor: 0.075
stealthchop_threshold: 0


#####################################################################
#   Z Stepper Settings
#####################################################################

## Z0 Stepper - Front Left
##  Connected to STEPPER 0
##  Endstop connected to Z-ENDSTOP
[stepper_z]
step_pin: PD4
dir_pin: !PD3
enable_pin: !PD7
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32
endstop_pin: PC3
##  Z-position of nozzle (in mm) to z-endstop trigger point relative to print surface (Z0)
##  (+) value = endstop above Z0, (-) value = endstop below
##  Increasing position_endstop brings nozzle closer to the bed
##  After you run Z_ENDSTOP_CALIBRATE, position_endstop will be stored at the very end of your config
#position_endstop: -0.5
position_max: 325
position_min: -5
homing_speed: 8
second_homing_speed: 3
homing_retract_dist: 3

[tmc2209 stepper_z]
uart_pin: PD5
#diag_pin: ^!PD6
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

##  Z1 Stepper - Rear Left
##  Connected to STEPPER 1
[stepper_z1]
step_pin: PC12
dir_pin: PC11
enable_pin: !PD2
rotation_distance: 40
gear_ratio: 80:16 
microsteps: 32

[tmc2209 stepper_z1]
uart_pin: PD0
#diag_pin: ^!PD1
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

##  Z2 Stepper - Rear Right
##  Connected to STEPPER 2
[stepper_z2]
step_pin: PC9
dir_pin: !PC8
enable_pin: !PC10
rotation_distance: 40
gear_ratio: 80:16 
microsteps: 32

[tmc2209 stepper_z2]
uart_pin: PA8
#diag_pin: ^!PA15
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

##  Z3 Stepper - Front Right
##  Connected to STEPPER 3
[stepper_z3]
step_pin: PG7
dir_pin: PG6
enable_pin: !PC7
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

[tmc2209 stepper_z3]
uart_pin: PG8
#diag_pin: ^!PC6
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0


#####################################################################
# 	Extruder
#####################################################################
[extruder]
step_pin: nhk:gpio23
dir_pin: nhk:gpio24
enable_pin: !nhk:gpio25
heater_pin: nhk:gpio9
sensor_pin: nhk:gpio29
pullup_resistor: 2200
microsteps: 16      # Check
gear_ratio: 50:10   # Check
rotation_distance: 22.9075549288 # Calibrated using ellis3dp method
nozzle_diameter: 0.400
filament_diameter: 1.750

sensor_type: Generic 3950
#control = pid
#pid_kp = 26.213
#pid_ki = 1.304
#pid_kd = 131.721
# pwm_cycle_time: 0.02
# smooth_time: 0.5
max_power: 0.8
min_temp: 0
max_temp: 285
min_extrude_temp: 170
pressure_advance: 0.02
# pressure_advance_smooth_time: 0.030
instantaneous_corner_velocity: 1.5
# max_extrude_cross_section: 0.8
max_extrude_only_distance: 501

[tmc2209 extruder]
sense_resistor: 0.100
uart_pin: nhk:gpio0
tx_pin: nhk:gpio1
interpolate: false
run_current: 0.45         #recommend setting it below 0.7A.


#####################################################################
#   Bed Heater
#####################################################################

[heater_bed]
##  SSR Pin - HEATBED
##  Thermistor - TH1
heater_pin: PG11
## Check what thermistor type you have. See https://www.klipper3d.org/Config_Reference.html#common-thermistors for common thermistor types.
## Use "Generic 3950" for Keenovo heaters
sensor_type: Generic 3950
sensor_pin: PA2
pullup_resistor: 2200
##  Adjust Max Power so your heater doesn't warp your bed. Rule of thumb is 0.4 watts / cm^2 .
max_power: 0.6
min_temp: 0
max_temp: 120
#control: pid
#pid_kp: 58.437
#pid_ki: 2.347
#pid_kd: 363.769


#####################################################################
#   Fans
#####################################################################
## PCF
[fan]
pin: nhk:gpio6
tachometer_pin: nhk:gpio17
tachometer_ppr: 2


## HEF
[heater_fan hotend_fan]
pin: nhk:gpio5
tachometer_pin: nhk:gpio16
tachometer_ppr: 2

# ##  Controller fan - FAN2
# [controller_fan electronics_bay]
# pin: PF7
# ##tachometer_pin: PF6
# kick_start_time: 0.5
# heater: heater_bed


[temperature_fan electronics_bay]
pin: PF7

sensor_type: temperature_combined
sensor_list: temperature_sensor Leviathan, temperature_sensor Pi
combination_method: max
maximum_deviation: 100

max_speed: 1.0
min_speed: 0.1

max_power: 1
shutdown_speed: 1
kick_start_time: 1
off_below: 0.15
min_temp: 0
max_temp: 100

control: pid
target_temp: 60
pid_Kp: 40
pid_Ki: 0.02
pid_Kd: 0.1
pid_deriv_time: 30.0
#cycle_time:
#hardware_pwm:
#tachometer_pin:
#tachometer_ppr:
#tachometer_poll_interval:
#sensor_type:
#sensor_pin:
#control:
#max_delta:
#min_temp:
#max_temp:
#   See the "extruder" section for a description of the above parameters.
#pid_Kp:
#pid_Ki:
#pid_Kd:
#   The proportional (pid_Kp), integral (pid_Ki), and derivative
#   (pid_Kd) settings for the PID feedback control system. Klipper
#   evaluates the PID settings with the following general formula:
#     fan_pwm = max_power - (Kp*e + Ki*integral(e) - Kd*derivative(e)) / 255
#   Where "e" is "target_temperature - measured_temperature" and
#   "fan_pwm" is the requested fan rate with 0.0 being full off and
#   1.0 being full on. The pid_Kp, pid_Ki, and pid_Kd parameters must
#   be provided when the PID control algorithm is enabled.
#target_temp: 40.0
#   A temperature (in Celsius) that will be the target temperature.
#   The default is 40 degrees.
#max_speed: 1.0
#   The fan speed (expressed as a value from 0.0 to 1.0) that the fan
#   will be set to when the sensor temperature exceeds the set value.
#   The default is 1.0.
#min_speed: 0.3
#   The minimum fan speed (expressed as a value from 0.0 to 1.0) that
#   the fan will be set to for PID temperature fans.
#   The default is 0.3.
#gcode_id:
#   If set, the temperature will be reported in M105 queries using the
#   given id. The default is to not report the temperature via M105.

## Nevermore
[multi_pin nevermore_pins]
pins: PF9, PB3

[fan_generic nevermore]
pin: multi_pin:nevermore_pins
# tachometer_ppr: 2

#####################################################################
# 	Probe
#####################################################################
## Probe Port
[probe]
pin: nhk:gpio10
x_offset: 0
y_offset: 25.0
z_offset: 0
speed: 10.0
samples: 3
samples_result: median
sample_retract_dist: 3.0
samples_tolerance: 0.006
samples_tolerance_retries: 3

#####################################################################
#   Lights
#####################################################################
## PCB Activity Light
[output_pin act_led]
pin: !nhk:gpio8


#####################################################################
#   Accelerometer
#####################################################################
[adxl345]
cs_pin: nhk:gpio21
spi_software_sclk_pin: nhk:gpio18
spi_software_mosi_pin: nhk:gpio20
spi_software_miso_pin: nhk:gpio19

[resonance_tester]
accel_chip: adxl345
accel_per_hz: 100
sweeping_accel: 400
sweeping_period: 0
probe_points:
   175, 175, 20

[input_shaper]
shaper_type_x = mzv
shaper_freq_x = 55.4
shaper_type_y = mzv
shaper_freq_y = 38.8


#####################################################################
#   Additional Sensors
#####################################################################
[temperature_sensor Leviathan]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

[temperature_sensor NH36]
sensor_type: temperature_mcu
sensor_mcu: nhk
min_temp: 0
max_temp: 100

[temperature_sensor Chamber_Toolhead]
sensor_type: ATC Semitec 104NT-4-R025H42G
min_temp: 0
max_temp: 280
sensor_pin: nhk:gpio28

[temperature_sensor Pi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

# Getting fancy with bay cooling
# [temperature_combined electronics_temp]
# sensor_list: temperature_sensor Leviathan, Pi
# combination_method: max
# maximum_deviation: 100

#####################################################################
#   Homing and Gantry Adjustment Routines
#####################################################################

[idle_timeout]
timeout: 1800
gcode:
  TURN_OFF_HEATERS
  M84
  LED_READY
  # Reset timeout (if overridden)
  SET_IDLE_TIMEOUT TIMEOUT=1800

[safe_z_home]
##  XY Location of the Z Endstop Switch
##  Update -10,-10 to the XY coordinates of your endstop pin 
##  (such as 157,305) after going through Z Endstop Pin
##  Location Definition step.
home_xy_position: 231,353
speed:100
z_hop:10

##  Use QUAD_GANTRY_LEVEL to level a gantry.
##  Min & Max gantry corners - measure from nozzle at MIN (0,0) and 
##  MAX (250, 250), (300,300), or (350,350) depending on your printer size
##  to respective belt positions
[quad_gantry_level]

gantry_corners:
  -60,-10
  410,420
#  Probe points
points:
  50,25
  50,275
  300,275
  300,25
speed: 600
horizontal_move_z: 10
retries: 5
retry_tolerance: 0.0075
max_adjust: 10


#####################################################################
#   Other Movement-Related Routines
#####################################################################
[pause_resume]
recover_velocity: 50

# Cancel object (aka Marlin/RRF M486 commands) support
#
# Enable object exclusion
[exclude_object]

# I do not know what this one does
[display_status]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 36.236
#*# pid_ki = 1.335
#*# pid_kd = 245.954
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 22.844
#*# pid_ki = 2.929
#*# pid_kd = 44.546
#*#
#*# [stepper_z]
#*# position_endstop = 0.825
